[env:esp32-s3-devkitc-1]
build_flags =
    -D WIFI_SSID=\"name\"
    -D WIFI_PASS=\"pass\"
    -D OPEN_WEATHER_API_KEY=\"key\"

[env:adafruit_qtpy_esp32s3_n4r2]
build_flags =
    -D WIFI_SSID=\"name\"
    -D WIFI_PASS=\"pass\"
    -D OPEN_WEATHER_API_KEY=\"key\"